/* Paleta: https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */
:root {
    --ff-first: 'Roboto Mono', monospace;
    --ff-second: 'Work Sans', sans-serif;

    --color-first: #e63946;
    --color-second: #1d3557;
    --color-third: #f1faee;
    --color-black-first: #000;
    --color-black-second: #3a4042;
    --color-black-third: #828282;

    --color-success: #0f5132;
    --color-success-second: #badbcc;
    --color-success-third: #d1e7dd;
    --color-error: #842029;
    --color-error-second: #f5c2c7;
    --color-error-third: #f8d7da;
}

html { scroll-behavior: smooth; }

body { font-family: var(--ff-first); }

abbr { text-decoration: none; }

a { text-decoration: none; }

img {
    display: block;
    max-width: 100%;
}
