header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: #1D3557;
    border-bottom: 10px solid #000;
}

img { 
    margin-right: 10px;

    box-shadow: 5px 5px 0 #000;

    transition: transform 250ms ease-in-out;
}

img:hover { transform: scale(1.1); }

a {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

    font: bold 20px 'Roboto Mono', monospace;
    color: #F1FAEE;
    text-decoration: none;

    transition: transform 250ms ease-in-out;
}

a:hover { transform: scale(1.2); }

/* Pseudo-elemento para criar o quadrado antes do conteúdo da tag <a>. */
a::before {
    width: 10px;
    height: 10px;
    margin-right: 10px;

    content: '';
    background-color: #E63946;
}

/* Gira o quadrado quando passa o mouse por cima. */
a:hover::before { animation: spin 1s linear infinite reverse; }

@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#button {
    display: inline-block;
    padding: 18px 20px;
    margin-right: 0; 

    background-color: #E63946;
    box-shadow: 5px 5px 0 #000;
}

#button:hover { transform: scale(1.05); }
