// Paleta de cores: https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

$color-first: #e63946;
$color-second: #1d3557;
$color-third: #f1faee;

$color-black: #000;
$color-black-ds: transparentize($color-black, .4);
$color-gray: #3a4042;
$color-gray-second: #828282;

$color-success: #0f5132;
$color-success-bd: #badbcc;
$color-success-bg: #d1e7dd;
$color-error: #842029;
$color-error-bd: #f5c2c7;
$color-error-bg: #f8d7da;
