.main-dropdown {
    position: relative;
    display: inline-block;

    > .content {
        display: none; // none por padrão, muda no JS.
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: $color-first;
        box-shadow: 5px 5px 0 $color-black;
        transition: opacity 300ms ease-out;
    }

    > .content > .item {
        display: block;
        padding: 0.5em;
        color: $color-third;
        font: {
            size: 1.25rem; // 20px
            weight: 600; 
        }
        text-align: center;
        transition: background-color 250ms ease-in-out;

        &:hover { background-color: $color-error; }
    }
}
