.main-action {
    display: inline-flex;
    align-items: center;
    font: {
        size: 1.25rem; // 20px
        weight: bold;
    }
    color: $color-third;
    transition: transform 250ms ease-in-out;

    &:hover {
        transform: scale(1.2);

        // Gira o quadrado quando passa o mouse por cima.
        &::before { animation: spin 1s linear infinite reverse; }
    }

    // Pseudo-elemento para criar o quadrado antes de alguma tag.
    &::before {
        width: .5em;
        height: .5em;
        margin-right: .5em;
        content: '';
        background-color: $color-first;
    }
}

@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
