.main-banner {
    min-height: 50rem;
    // color image position/size repeat attachment 
    // A cor está definida para quando a imagem estiver carregando, ela ser mostrada.
    background: $color-second url(../../assets/images/background.jpg) center/cover no-repeat;
    border-bottom: 10px solid $color-black;

    > .wrapper {
        display: inline-block;
        position: relative;
        top: 7.25rem;
        left: 5.8125rem;
    }
    
    > .wrapper > .main-box { margin-bottom: 2.375rem; }

    > .wrapper > .navigation {
        display: flex;
        justify-content: space-around;
    }

    > .wrapper > .navigation > .main-dropdown > .content > .item { font-weight: 500; }

    > .wrapper > .navigation .main-button { font-weight: 500; }
}

// 767px ou menos.
@media (max-width: 47.9375em) {
    .main-banner {
        > .wrapper { left: 2.1rem; }

        > .wrapper > .main-box { margin-bottom: 1.1875rem; }
        
        > .wrapper > .navigation > .main-dropdown > .content { box-shadow: 4px 4px 0 $color-black; }
    
        > .wrapper > .navigation > .main-dropdown > .content > .item { font-size: 1rem; }
    
        > .wrapper > .navigation .main-button { font-size: 1rem; }
    }
}

// 359px ou menos.
@media (max-width: 22.4375em) {
    .main-banner {
        > .wrapper { left: 1.25rem; }
    
        > .wrapper > .navigation {
            flex-direction: column-reverse;
            align-items: center;
        }
        
        > .wrapper > .navigation > .main-button { margin-bottom: .625rem; }
    }
}
