.main-project {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-second;
    box-shadow: 10px 10px 0 $color-third;

    &:nth-child(even) { background-color: $color-first; }

    > .project-information {
        position: absolute;
        z-index: 1;
        width: 14.375rem;
        min-height: 14.375rem;
    }

    .image {
        position: relative;
        z-index: 2;

        &:hover {
            opacity: 0;
            transition: opacity 600ms ease-out;
        }
    }
}

// 639px ou menos.
@media (max-width: 39.9375em) {
    .main-project {
        box-shadow: 5px 5px 0 $color-third;
    
        .image { opacity: 0; }
    }
}
