.main-project {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-second);
    box-shadow: 10px 10px 0 var(--color-third);
}

.main-project:nth-child(even) { background-color: var(--color-first); }

.main-project > .project-information {
    position: absolute;
    z-index: 1;
    width: 14.375rem;
    min-height: 14.375rem;
}

.main-project .image {
    position: relative;
    z-index: 2;
}

.main-project .image:hover {
    opacity: 0;
    transition: opacity 600ms ease-out;
}

/* 639px ou menos. */
@media (max-width: 39.9375em) {
    .main-project { box-shadow: 5px 5px 0 var(--color-third); }

    .main-project .image { opacity: 0; }
}
