.action {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;

    font-size: 20px;
    font-weight: bold;
    color: #F1FAEE;
    text-decoration: none;

    transition: transform 250ms ease-in-out;
}

.action:hover { transform: scale(1.2); }

/* Pseudo-elemento para criar o quadrado antes do conteúdo da tag <a>. */
.action::before {
    width: 10px;
    height: 10px;
    margin-right: 10px;

    content: '';
    background-color: #E63946;
}

/* Gira o quadrado quando passa o mouse por cima. */
.action:hover::before { animation: spin 1s linear infinite reverse; }

@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
