.button {
    display: inline-block;
    padding: 18px 20px;
    margin-right: 0; 

    font-size: 20px;
    font-weight: bold;
    color: #F1FAEE;

    background-color: #E63946;
    box-shadow: 5px 5px 0 #000;
    text-decoration: none;

    transition: transform 250ms ease-in-out;
}

.button:hover { transform: scale(1.05); }
