.close-button {
    color: var(--color-black-third);
    font-size: 40px;
    line-height: 0;
    background-color: transparent;
    transition: color 250ms ease-in-out;
}

.close-button:hover { color: var(--color-black-second); }
