.information-message {
    display: none; /* none por padrão, muda no JS. */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
}

.information-message.-success {
    color: var(--color-success);
    background-color: var(--color-success-third);
    border: 1px solid var(--color-success-second);
}

.information-message.-success .message::before {
    font-weight: 600;
    content: 'Sucesso: ';
}

.information-message.-error {
    color: var(--color-error);
    background-color: var(--color-error-third);
    border: 1px solid var(--color-error-second);
}

.information-message.-error .message::before {
    font-weight: 600;
    content: 'Erro: ';
}

.information-message .message { font-size: 25px; }

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
