.main-text {
    padding-left: 80px;
    padding-right: 80px;
    font-family: var(--ff-second);
    color: var(--color-third);
    font-size: 30px;
    text-align: justify;
    text-justify: distribute;
    line-height: 1.3;
}

.main-text .paragraph { text-indent: 100px; }

.main-text .paragraph:not(:last-child) { margin-bottom: 15px; }

.paragraph .link {
    color: var(--color-first);
    text-decoration: none;
}
