.main-dropdown {
    position: relative;
    display: inline-block;
}

.main-dropdown > .content {
    display: none; /* none por padrão, muda no JS. */
    position: absolute;
    z-index: 1;
    min-width: 100%;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0 var(--color-black-first);
    transition: opacity 300ms ease-out;
}

.main-dropdown > .content > .item {
    display: block;
    padding: 0.5em;
    color: var(--color-third);
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 250ms ease-in-out;
}

.main-dropdown > .content > .item:hover { background-color: var(--color-error); }
