.main-input {
    width: 100%;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    font-family: var(--ff-second);
    font-size: 20px;
    border: 5px solid var(--color-black-first);
}

.main-input.-textarea {
    height: 300px;
    margin-bottom: 35px;
}
