.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 70px;

    background-color: #E63946;
    border-bottom: 10px solid #1D3557;
}

.main-section.-second {
    background-color: #000;
    border-bottom-color: #E63946;
}

.main-section.-third {
    background-color: #1D3557;
    border-bottom-color: #000;
}

.main-section > .main-title { margin-bottom: 55px; }
