.main-banner {
    min-height: 50rem;
    /* color image position/size repeat attachment 
       A cor está definida para quando a imagem estiver carregando, ela ser mostrada.
    */
    background: var(--color-second) url(../../assets/images/background.jpg) center/cover no-repeat fixed;
    border-bottom: 10px solid var(--color-black-first);
}

.main-banner > .wrapper {
    display: inline-block;
    position: relative;
    top: 7.25rem;
    left: 5.8125rem;
}

.main-banner > .wrapper > .main-box { margin-bottom: 2.375rem; }

.main-banner > .wrapper > .navigation {
    display: flex;
    justify-content: space-around;
}

.main-banner > .wrapper > .navigation > .main-button { font-weight: 500; }
