.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--color-second);
    border-bottom: 10px solid var(--color-black-first);
}

.main-header .avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    box-shadow: 5px 5px 0 var(--color-black-first);
    transition: transform 250ms ease-in-out;
}

.main-header .avatar:hover { transform: scale(1.1); }
