.main-box {
    padding: 2.1875rem 5.25rem;
    background-color: var(--color-black-second);
    text-align: center;
    box-shadow: 10px 10px 0 var(--color-black-first);
}

/* Adiciona uma margem embaixo de todos os .main-title que são filhos diretos de .main-box */
.main-box > .main-title { margin-bottom: 1.5625rem; }
