.main-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 100px;
    background-color: var(--color-black-first);
}

.main-footer .link { 
    font-size: 3.5em;
    color: var(--color-third);
    transition: transform 200ms cubic-bezier(.42,0,.81,2.3);
}

.main-footer .link:hover { transform: scale(1.1); }

/* Alterna entre a cor branca (padrão) e a cor vermelha,
   menos o último filho (que é o botão de subir para o topo).
*/
.main-footer .link:nth-child(odd):not(:last-child) { color: var(--color-first); }

.main-footer .link:not(:last-child) { margin-right: 40px; }

.main-footer .link:last-child {
    position: absolute;
    right: 20px;
    align-self: flex-end;
    font-size: 3em;
}
