.main-action {
    display: inline-flex;
    align-items: center;
    margin-right: 1.5em;
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: var(--color-third);
    transition: transform 250ms ease-in-out;
}

.main-action:hover { transform: scale(1.2); }

/* Pseudo-elemento para criar o quadrado antes de alguma tag. */
.main-action::before {
    width: .5em;
    height: .5em;
    margin-right: .5em;
    content: '';
    background-color: var(--color-first);
}

/* Gira o quadrado quando passa o mouse por cima. */
.main-action:hover::before { animation: spin 1s linear infinite reverse; }

@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
