.main-project {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 280px;

    background-color: #1D3557;
    box-shadow: 10px 10px 0px #F1FAEE;
}

.main-project.-bg-red { background-color: #E63946; }

.main-project .project-information {
    position: absolute;
    z-index: 1;
}

.main-project .image {
    position: relative;
    z-index: 2;

    width: 240px;
    height: 240px;
}

.main-project .image:hover {
    opacity: 0;
    transition: opacity 600ms ease-out;
}
