.main-banner {
    height: 800px;

    background-image: url(../../assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #000;
}

.main-banner .wrapper {
    display: inline-block;
    position: relative;
    top: 116px;
    left: 93px;
}

.main-banner .main-box { margin-bottom: 38px; }

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}

.navigation .main-button { font-weight: 500; }
