.main-title {
    font-size: 45px;
    font-weight: bold;
    color: var(--color-first);
    text-shadow: 4px 4px 0 var(--color-black-first);
}

/* Variação para um title com cor branca, com underline e sem sombra. */
.main-title.-second {
    color: var(--color-third);
    text-decoration-line: underline;
    text-shadow: none;
}
