.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 70px;
    background-color: var(--color-first);
    border-bottom: 10px solid var(--color-second);
}

.main-section.-second {
    background-color: var(--color-black-first);
    border-bottom-color: var(--color-first);
}

.main-section.-third {
    background-color: var(--color-second);
    border-bottom-color: var(--color-black-first);
}

.main-section.-third > .main-avatar { margin-bottom: 35px; }

.main-section.-fourth {
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--color-black-second);
    border-bottom: none;
}

.main-section.-fourth > .information-message { margin-bottom: 35px; }

.main-section > .main-title { margin-bottom: 55px; }
