.main-box {
    padding: 2.1875rem 5.25rem;
    background-color: var(--color-black-second);
    text-align: center;
    box-shadow: 10px 10px 0 var(--color-black-first);
}

/* Adiciona uma margem embaixo de todos os .main-title que são filhos diretos de .main-box */
.main-box > .main-title { margin-bottom: 1.5625rem; }

/* 767px ou menos. */
@media (max-width: 47.9375em) {
    .main-box { 
        padding:  1.0938rem 2.625rem;
        box-shadow: 5px 5px 0 var(--color-black-first);
    }

    .main-box > .main-title {
        margin-bottom: .7813rem; 
        font-size: 1.3125rem;
    }

    .main-box > .main-subtitle { font-size: 1rem; }
}

/* 359 ou menos. */
@media (max-width: 22.4375em) {
    .main-box { 
        padding-left: 1.3125rem;
        padding-right: 1.3125rem;
    }

    .main-box > .main-title { font-size: 1.0625rem }

    .main-box > .main-subtitle { font-size: 1rem; }
}
