.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--color-second);
    border-bottom: 10px solid var(--color-black-first);
}

.main-header .main-avatar {
    margin-right: 15px;
    transition: transform 250ms ease-in-out;
}

.main-header .main-avatar:hover { transform: scale(1.1); }
