.main-button {
    display: inline-block;
    padding: .9em 1em;
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: var(--color-third);
    text-align: center;
    background-color: var(--color-first);
    box-shadow: .25em .25em 0 var(--color-black-first);
    transition: transform 300ms cubic-bezier(.42,0,.56,2.28),
                background-color 300ms ease-in-out;
}

.main-button:hover { transform: scale(1.05); }

.main-button.-large {
    display: block;
    width: 100%;
    padding-top: .3333em;
    padding-bottom: .3333em;
    font-size: 1.875rem;
}

.main-button.-large:hover { transform: scale(1.02); }

.main-button.-large:disabled { cursor: wait; }

.main-button.-large:disabled:hover { transform: none; }

.main-button.-dropdown:hover { background-color: var(--color-error); }

.main-button.-dropdown:focus {
    background-color: var(--color-error);
    transform: none; 
}

.main-button.-toggle-menu { font-size: .9rem; }

.main-button.-dropdown:hover { background-color: var(--color-error); }

.main-button.-dropdown:focus {
    background-color: var(--color-error);
    transform: none; 
}
