.progress-bar {
    width: 320px;
    height: 40px;

    /* IE 10+ ou caso algum navegador não reconheça a tag <progress>
       exibe o conteúdo dentro da tag com essa cor. 
    */
    color: #1D3557;

    background-color: #F1FAEE;
    border: 5px solid #000;
}

/* Google Chrome, Apple Safari, Opera (16+) */
.progress-bar::-webkit-progress-bar { background-color: #F1FAEE; }

.progress-bar::-webkit-progress-value { background-color: #1D3557; }

/* Firefox */
.progress-bar::-moz-progress-bar { background-color: #1D3557; }
