.project-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: 230px;
    font-family: var(--ff-second);
    text-align: right;
}

.project-information .main-subtitle {
    margin-bottom: 8px;
    font-size: 18px;
    text-decoration-line: underline;  
}

.project-information .description {
    color: var(--color-third);
    font-size: 15px;
    line-height: 18px;
}
