.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 70px;

    background-color: #E63946;
    border-bottom: 10px solid #1D3557;
}

.section > .main-title { margin-bottom: 55px; }
