.skill {
    display: inline-flex;
    align-items: center;
    margin-bottom: 38px;
}

.skill:nth-child(4n) { margin-bottom: 0; }

.skill .logo { margin-right: 17px; }

.skill .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info .subtitle { margin-bottom: 10px; }
