.skill-description { display: flex; }

.skill-description .logo {
    width: 92px;
    height: 92px;
    margin-right: 18px;

    filter: drop-shadow(-4px 4px 0px rgba(0, 0, 0, 0.4));
}

.skill-description .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
