.title {
    font-size: 45px;
    font-weight: bold;
    color: #E63946;
}

.title.-underline { text-decoration-line: underline;}
.title.-white { color: #F1FAEE; }

.title.-shadow { text-shadow: 4px 4px 0 #000; }
